{% extends 'base.html' %}
{% block header %}
<form method="get" action="/" class=".form-search">
        <table>
            <tr>
                <td>
                <input id="id_q" name="q" type="text" value="{{request.GET.q}}">
                </td>
            
            </tr>
        </table>
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}

    {% if query %} 
            <div class="span2">
              {%include 'search/left_menu.html' %}
            </div>
            <div class="span6">
                <h3>Results</h3>
                <div class="accordion" id="accordion2">
                    {% for result in page.object_list %}
                        {% include 'search/_result_object.html' %}
                    {% empty %}
                        <p>No results found.</p>
                    {% endfor %}
                </div>
    
                {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="span6">
                {# Show some example queries to run, maybe query syntax, something else? #}
            </div>
        {% endif %}
{% endblock %}
