<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{request.GET.q}} @productsearch{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="hero-unit">
                {% block header %}{% endblock %}
            </div>
            {% block content %}{%endblock%}
            <div class="row">
            </div>
            <footer>
            </footer>
        </div> <!-- /container -->
    </body>
</html>
